/* 
    Document   : mailbox_column.css
    Created on : Apr 13, 2012, 12:07:53 AM
    Author     : derek
    Description:
        Purpose of the stylesheet follows.
*/

.mailbox-menu{
	float:left;
	width:170px;
	margin-top:0px;
}

.mailbox-menu-item:last-child{
	margin-bottom: 0px !important;
}
.mailbox-menu-item{
	margin-bottom: 5px !important;
	width:100% !important;
}

.mailbox-list{
	margin-left:180px;
	margin-top: 0px !important;
	clear:none !important;
}
.mailbox-message-list{
	margin-top:20px;
}

.mailbox-compose{
	margin-left:180px;
	margin-top: 0px !important;
}
.mailbox-message-list{
	margin-left:180px;
	margin-top: 0px !important;
}

.mailbox-menu-new{
	margin-right: 20px;
}

.mailbox-menu-folders{
	clear:both;
	float:none !important;
}
.mailbox-menu-newmsg{
	clear:left;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	margin-top: 4px;
	float:none !important;
}
.flash-message flash-error
{
	color:#F00;
}