body {
	background: #33373d;
	font-family: Arial, Helvetica, sans-serif;
}
/* login */
#welcome {
	background: url(../images/bg-login.png) no-repeat;
	color: #000;
	font-size: .8em;
	height: 520px;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	width: 901px;
}
#welcome a:link, #welcome a:visited {
	color: #fff;
}
#welcome h1 {
	background: url(../images/logo-admin.gif) no-repeat;
	height: 181px;
	left: 190px;
	position: absolute;
	text-indent: -1984em;
	top: 161px;
	width: 232px;
}
#welcome fieldset {
	position: absolute;
	top: 85px;
	right: 40px;
	width: 370px;
}
#welcome fieldset h2 {
	font-size: 1.8em;
	padding-bottom: 20px;
	color: #586579;
}
#welcome fieldset .text {
	background: url(../images/bg-text-login.png) no-repeat;
	padding: 4px;
	width: 175px;
}
#welcome fieldset .button {
	background: #21a776;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	color: #fff !important;
	padding: 12px 22px;
	margin-top: 15px !important;
}
#welcome fieldset .button:hover {
	background: #27bd86;
}
#welcome fieldset .user {
	font-style: italic;
	margin-top: 20px;
}
#welcome fieldset .user label, #welcome fieldset .user input, #welcome fieldset .user a {
	margin-top: 0;
	margin-right: 5px;
	vertical-align: middle;
}
#welcome fieldset .user label {
	margin-right: 20px;
}
#welcome fieldset em.error {
	display: block;
	color: #fbfe03;
}
#welcome fieldset input[type="text"] {
	margin-top: 10px;
	font-size: 12px;
	color: #333 !important;
	font-weight: lighter !important;
	border: 1px #e5e5e5 solid;
	padding: 4px 10px;
	outline: none;
}
